.card{
    background-color: var(--yellow);
    border: 1px solid black;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    padding: '2rem';
    align-items: center;
    border-radius: 10%;
    flex-basis: 30%;
}